.container {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
  font-family: sans-serif;
}

.input-box {
  margin-top: 30px;
}

.input-box input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  font-size: 16px;
}

.input-box button {
  padding: 10px 15px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.input-box button:hover {
  background: #0056b3;
}

.ranking-box {
  margin-top: 40px;
  text-align: left;
}

.ranking-box ol {
  padding-left: 20px;
}

li{
  list-style: none;
}